.home{
    color:#ffffff;
    font-family: 'Ubuntu', sans-serif;
}
.home-bg{
    background-image: url(../images/home_bg.jpg);
    background-color: aquamarine;
}
.login-bg{
    background-image: url(../images/login_bg.jpg);
    background-color: aquamarine;
}

.dashboard .project-logo{
    width: 100px;
    height: 100px;
}

.logo-home{
    width: 200px;
    height: auto;
    
    margin:auto 35px;
}

 .home-heading{
    width: 100%;
 }

.project-thumb{
    height:130px;
    width:130px;
    padding:15px;
    background-size: cover;
    background-image: url(https://static.thenounproject.com/png/3348332-200.png);
}

 .home-content-area {
    margin:0px;
    width: 100%;
    height: 500px;
 }

 .vh-75{
    height: calc(100vh - 100px);
    box-sizing: border-box;
}